body{
    background-color: rgb(76, 63, 52);
}

header{
    background-color: black;
}

.html-t1{
    color: #E44D26;
    background-color: #FDEBD0;
}

.html-t2{
    color: #F06529
}

.html-t3{
    color: rgb(204, 72, 32);
    margin-left: 14px;
    font-size: 30px;
}

.html-t4{
    color: rgb(205, 30, 32);
    margin-left: 30px;
}

p{
    color:#1A1A1A;
    margin-left: 30px;
}

code{
    color: #555555; 
}

.html{
    background-color: #FDEBD0;
    width: 100%;
    height: 70%;
    position: relative;
    border-radius: 4px;
}

video{
    display: flex;
    align-items: center;
    background-color: #555555;
}